:root {
	--background-color: #ffffff;
	--text-color: black;
	--icon-item-size: 50px;
	--border-color: #ccc;
	--shadow-color: #44444433;
	--selected-color: #176400;
	--font-size: 16px;
	--border-select-color: #52b241;

	--dark-background-color: #1d1d1d;
	--dark-text-color: white;
	--dark-border-color: #444;
	--dark-shadow-color: #44444436;
	--dark-selected-color: #176400;
	--dark-border-select-color: #d96c44;
}

[data-theme="dark"] {
	--background-color: var(--dark-background-color);
	--text-color: var(--dark-text-color);
	--border-color: var(--dark-border-color);
	--shadow-color: var(--dark-shadow-color);
	--selected-color: var(--dark-selected-color);
	--border-select-color: var(--dark-border-select-color);
}

[data-theme="system"] {
	@media (prefers-color-scheme: dark) {
		--background-color: var(--dark-background-color);
		--text-color: var(--dark-text-color);
		--border-color: var(--dark-border-color);
		--shadow-color: var(--dark-shadow-color);
		--selected-color: var(--dark-selected-color);
		--border-select-color: var(--dark-border-select-color);
	}
}

* {
	font-family: "Inter", sans-serif;
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	margin: 0;
	padding: 40px;
	font-size: var(--font-size);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	user-select: none;
	-webkit-user-select: none;
	transition: 200ms;
}

noscript {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: #00000060;
	backdrop-filter: blur(5px);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
	font-weight: 500;
	color: #f5eae3;

	p {
		font-size: 25px;
	}
}

.theme_button {
	position: absolute;
	top: 30px;
	right: 30px;
	border: 0;
	background: none;
	color: var(--text-color);
	font-size: 24px;
	transition: 200ms;
	border-radius: 50%;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;

	&:hover {
		background-color: var(--border-color);
		cursor: pointer;
	}
}

.title {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	background: linear-gradient(135deg, #ff6b35 0%, #f7931e 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;

	i {
		font-size: 40px;
	}
}

input {
	border: 2px solid var(--border-color);
	box-shadow: 0 0 40px -5px var(--shadow-color);
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: var(--font-size);
	border-radius: 10px;
	padding: 10px 15px;
	outline: none;
	transition: 200ms;

	&#row_number {
		width: 80px;
	}

	&#bg_color {
		width: 40px;
		height: 40px;
		padding: 0 2px;

		&:hover {
			cursor: pointer;
		}
	}
}

.button {
	padding: 5px;
	border-radius: 5px;
	transition: 200ms;

	&:hover {
		cursor: pointer;
		background-color: var(--border-color);
		transition: 200ms;
	}
}

.result_url {
	font-family: monospace;
	font-size: 14px;
	width: 50%;
	height: 100px;
	border: 2px solid var(--border-color);
	box-shadow: 0 0 40px -5px var(--shadow-color);
	background-color: var(--background-color);
	color: var(--text-color);
	border-radius: 10px;
	min-height: 40px;
	resize: none;
	padding: 10px 15px;
	outline: none;
	word-break: break-all;
	margin-top: 30px;
	transition: 200ms;
}

.controls_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;

	.reset {
		margin-left: 10px;
		width: 30px;
		height: 30px;
		font-size: 26px;
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

.icon_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	border-top: 2px solid #444;
	padding: 30px 20px;
	margin-top: 20px;
	width: 100%;

	.search_container {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translateY(-52px);

		.search_input {
			width: 300px;
			padding-right: 40px;
		}

		.clear_search {
			position: absolute;
			width: 18px;
			height: 18px;
			font-size: 18px;
			right: 15px;
			cursor: pointer;
		}
	}

	.empty_list {
		display: none;
		color: var(--text-color);
		font-style: italic;
	}
}

.icons_list,
.result_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.icon_item {
		width: 50px;
		height: 50px;
		max-width: 50px;
		max-height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border-radius: 10px;
		margin: 5px;
		box-shadow: 0 2px 8px #00000026;

		svg {
			width: 100%;
			height: 100%;
		}

		&.selected {
			box-shadow: 0 0 0 2px var(--border-select-color);
		}

		.icon_tooltip {
			position: absolute;
			background-color: var(--border-color);
			color: var(--text-color);
			padding: 5px 10px;
			border-radius: 5px;
			font-size: 12px;
			margin-top: 55px;
			white-space: nowrap;
			pointer-events: none;
		}

		&:hover {
		    transform: scale(1.05);
		}
	}
}

.result_item {
	height: 50px;
	width: 50px;
	border-radius: 10px;
	margin: 5px;
	box-shadow: 0 2px 8px #00000026;

	svg {
		pointer-events: none;
	}

	&:hover {
		transform: scale(1.05);
	}
}

footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 6px;
	margin-top: 10px;

	i {
		font-size: 20px;
	}

	a {
		color: var(--text-color);
		text-decoration: underline;
	}
}

@media (max-width: 600px) {
	:root {
		--font-size: 14px;
	}

	body {
		padding: 10px;
	}

	.result_url {
		width: 90% !important;
	}

	.icon_container {
		border: none;
		padding: 0;
		margin-top: 0px;

		.search_container {
			position: static;
			transform: translateY(0);
			width: 90%;
		}
	}
}
