:root {
	--background-color: #1d1d1d;
	--text-color: white;
	--icon-item-size: 50px;
	--border-color: #444;
	--shadow-color: #44444436;
	--selected-color: #176400;
	--font-size: 16px;
}

* {
	font-family: Arial, Helvetica, sans-serif
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	margin: 0;
	padding: 40px;
	font-size: var(--font-size);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	user-select: none;
	-webkit-user-select: none;
}

.title {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;

	img {
		width: 40px;
		height: 40px;
	}
}

input {
	border: 2px solid var(--border-color);
	box-shadow: 0 0 40px -5px var(--shadow-color);
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: var(--font-size);
	border-radius: 10px;
	padding: 10px 15px;
	outline: none;

	&#row_number {
		width: 80px;
	}

	&#bg_color {
		width: 40px;
		height: 40px;
		padding: 0 2px;
	}
}

.result_url {
	font-family: monospace;
	font-size: 14px;
	width: 50%;
	height: 100px;
	border: 2px solid var(--border-color);
	box-shadow: 0 0 40px -5px var(--shadow-color);
	background-color: var(--background-color);
	color: var(--text-color);
	border-radius: 10px;
	min-height: 40px;
	resize: none;
	padding: 10px 15px;
	outline: none;
	word-break: break-all;
	margin-top: 30px;
}

.controls_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;

	img {
		padding-left: 15px;
		width: 28px;
		height: 28px;
		cursor: pointer;
	}
}

.icon_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	border: 2px solid var(--border-color);
	box-shadow: 0 0 40px -5px var(--shadow-color);
	border-radius: 10px;
	padding: 30px 20px;
	margin-top: 20px;
	width: 100%;

	.search_container {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translateY(-52px);

		.search_input {
			width: 300px;
			padding-right: 40px;
		}

		.clear_search {
			position: absolute;
			width: 18px;
			height: 18px;
			right: 15px;
			cursor: pointer;
		}
	}

	.empty_list {
		display: none;
		color: var(--text-color);
		font-style: italic;
	}
}

.icons_list,
.result_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.icon_item {
		width: 50px;
		height: 50px;
		max-width: 50px;
		max-height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border-radius: 10px;
		margin: 5px;

		svg {
			width: 100%;
			height: 100%;
		}

		&.selected {
			box-shadow: 0 0 5px 2px var(--selected-color);
		}

		.icon_tooltip {
			position: absolute;
			background-color: var(--border-color);
			color: var(--text-color);
			padding: 5px 10px;
			border-radius: 5px;
			font-size: 12px;
			margin-top: 55px;
			white-space: nowrap;
			pointer-events: none;
		}
	}
}

.result_item {
	height: 50px;
	width: 50px;
	border-radius: 10px;
	margin: 5px;

	svg {
		pointer-events: none;
	}
}

footer {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 6px;
	margin-top: 10px;

	img {
		width: 20px;
		height: 20px;
	}

	a {
		color: var(--text-color);
		text-decoration: underline;
	}
}

@media (max-width: 600px) {
	:root {
		--font-size: 14px;
	}

	body {
		padding: 10px;
	}

	.result_url {
		width: 90% !important;
	}

	.icon_container {
		border: none;
		padding: 0;
		margin-top: 0px;

		.search_container {
			position: static;
			transform: translateY(0);
			width: 90%;
		}
	}
}
