:root {
	--background-color: #1d1d1d;
	--text-color: white;
	--icon-item-size: 50px;
	--border-color: #444;
	--selected-color: #176400;
}

* {
	font-family: Arial, Helvetica, sans-serif
}

body {
	background-color: var(--background-color);
	color: var(--text-color);
	margin: 0;
	padding: 40px;
	font-size: 16px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	user-select: none;
}

svg {
	pointer-events: none;
}

.title {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;

	img {
		width: 40px;
		height: 40px;
	}
}

input {
	border: 2px solid var(--border-color);
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: 16px;
	border-radius: 10px;
	padding: 10px 15px;

	&#row_number {
		width: 80px;
	}

	&#bg_color {
		width: 40px;
		height: 40px;
		padding: 0;
	}
}

.result_url {
	width: 50%;
	height: 100px;
	border: 2px solid var(--border-color);
	background-color: var(--background-color);
	color: var(--text-color);
	font-size: 16px;
	border-radius: 10px;
	min-height: 40px;
	resize: none;
	padding: 10px 15px;
}

.controls_container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
}

.icon_container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	border: 2px solid var(--border-color);
	border-radius: 10px;
	padding: 10px;
}

.icons_list,
.result_list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	.icon_item {
		width: 50px;
		height: 50px;
		max-width: 50px;
		max-height: 50px;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		border-radius: 10px;
		margin: 5px;

		&.selected {
			box-shadow: 0 0 5px 2px var(--selected-color);
		}
	}
}

.result_item {
	height: 50px;
	width: 50px;
	border-radius: 10px;
	margin: 5px;
}
